<html>
<head>
    <title>adhs for {{src}}</title>
    <link href="https://unpkg.com/@triply/yasgui/build/yasgui.min.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/@triply/yasgui/build/yasgui.min.js"></script>
</head>
<body>
    <div id="yasgui"></div>
    <script>
        const yasgui = new Yasgui(document.getElementById("yasgui"), {
            requestConfig: { endpoint: "{{host}}/sparql" },
            copyEndpointOnNewTab: false,
        });
    </script>
</body>
</html>
